<% if (site.tags.length) { %>
<div class="statement widget">
    <div class="card-content" style="font-size: 12px;">
        <p><b>版权声明</b>：除特殊标注外，本站所有文章均为博主原创，遵循 <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a> 版权协议，转载请附上原文出处链接和本声明。</p>
    </div>
</div>
<% } %>
